<h1>Form experiments</h1>

<form action="/goodbye">
  <label for="alice">first name</label>
  <input id="alice" type="text" name="zebra">

  <label for="bob">first name</label>
  <input id="bob" type="text" name="giraffe">

  <button>Go!</button>
 
