<form action="/payment/results">
  <label for="alice">APR</label>
  <input id="alice" type="text" name="user_apr">

  <label for="bob">Number of years</label>
  <input id="bob" type="text" name="user_years">
  
  <label for="cobb">Principal</label>
  <input id="cobb" type="text" name="user_pv">

  <button>Calculate monthly payment</button>
</form>
