<form action="/random/results">
  <label for="alice">Minimum</label>
  <input id="alice" type="text" name="user_min">

  <label for="bob">Maximum</label>
  <input id="bob" type="text" name="user_max">

  <button>Pick random number</button>
</form>
